@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Muli');

html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

.map-head {
	color: white;
	padding-bottom: 10px;
}

.pricing {
	color: #cf20d0;
	padding-bottom: 20px;
}

.padding {
	padding-bottom: 10px;
}

.link-styled {
	color: #01668b;
	text-decoration: none;
}

/* Forward */
.link-styled {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .link-styled:hover, .link-styled:focus, .hvr-forward:active {
	-webkit-transform: translateX(8px);
	transform: translateX(8px);
  }

/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
	16.65% {
	  -webkit-transform: translate(8px, 8px);
	  transform: translate(8px, 8px);
	}
	33.3% {
	  -webkit-transform: translate(-6px, -6px);
	  transform: translate(-6px, -6px);
	}
	49.95% {
	  -webkit-transform: translate(4px, 4px);
	  transform: translate(4px, 4px);
	}
	66.6% {
	  -webkit-transform: translate(-2px, -2px);
	  transform: translate(-2px, -2px);
	}
	83.25% {
	  -webkit-transform: translate(1px, 1px);
	  transform: translate(1px, 1px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
  }
  @keyframes hvr-wobble-to-bottom-right {
	16.65% {
	  -webkit-transform: translate(8px, 8px);
	  transform: translate(8px, 8px);
	}
	33.3% {
	  -webkit-transform: translate(-6px, -6px);
	  transform: translate(-6px, -6px);
	}
	49.95% {
	  -webkit-transform: translate(4px, 4px);
	  transform: translate(4px, 4px);
	}
	66.6% {
	  -webkit-transform: translate(-2px, -2px);
	  transform: translate(-2px, -2px);
	}
	83.25% {
	  -webkit-transform: translate(1px, 1px);
	  transform: translate(1px, 1px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
  }
  .hvr-wobble-to-bottom-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-to-bottom-right:hover, .hvr-wobble-to-bottom-right:focus, .hvr-wobble-to-bottom-right:active {
	-webkit-animation-name: hvr-wobble-to-bottom-right;
	animation-name: hvr-wobble-to-bottom-right;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.shrink:hover
{
        -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
		transform: scale(0.97);
		transition: 350ms;
		opacity: .94;
		border-style: solid;
		border-color: #0b9881;
}

body {
	background-color: #345;
	background-image: url("https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: black;
	border-radius: 8px;
	box-sizing: border-box;
	color: #009881;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 120px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	text-align: center;
	border-style: solid;
	border-color: #006c9d;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

.links {
	background-color: black;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
  padding: 0 1% 0 1%;
  --items: 6;
}

.links > a {
	color: #009881;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}

.tech {
	color:#FF00FF;
}

.games {
	color:#00BFFF;
}

.videos {
	color: white;
}

.cheatsheet {
	color: #DFC590;
}
.links > a:hover {
	background: #ffffff06;
	color: #009881;
}
/* #009881 */
.links > .line {
	/* background: white; */
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	/* position: fixed; */
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
  justify-content: space-around;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { 
	background: #009881;
}

.links > a:nth-of-type(2):hover ~ .line { 
	background: purple;
}

.links > a:nth-of-type(3):hover ~ .line { 
	background: #00BFFF;
}

.links > a:nth-of-type(4):hover ~ .line { 
	background: white;
}

.links > a:nth-of-type(5):hover ~ .line { 
	background: #DFC590;
}

.links > a:nth-of-type(6):hover ~ .line { 
	background: #009881;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

.title{
  color: #DFC590;
}

.img-gear {
	width: 70%;
	padding-left: 35%;
	padding-bottom: 20%;
  }
  .h1-gear {
	color: #009881;
	font-family: "muli";
	font-weight: bold;
	font-size: 1.5vw;
	margin-top: 1.3%;
	display: inline-block;
  }
  
  .product-name i {
	color: #ffffff;
	transition: 0.3s all ease;
	margin: 0px 12px;
  }
  
  .product-name i:hover {
	color: #ff6d39;
	cursor: pointer;
  }
  
  .review-gear {
	color: 	white;
	margin-bottom: 1.2%;
	font-family: "muli";
    margin-top: 3%;
	font-size: 1.3vw;
	font-weight: 500;
  }
  .price-gear {
	color: 	white;
	margin-bottom: 1.4%;
	font-family: "muli";
    margin-top: 18%;
	font-size: 1.3vw;
	font-weight: 500;
  }

  .card {
	display: flex;
	align-items: center;
	background-color: black;
	height: 37vw;
	width: 52%;
	margin: 0 auto;
	box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.4);
	margin-top: 7%;
	border-style: solid;
	border-color: #006c9d;
	/* margin-top: 100px; */
	border-radius: 8px;
	position: relative;
  }
  
  .left {
	content: "";
	height: 30vw;
	width: 42%;
	display: flex;
	align-items: center;
	background-color: #009881;
	margin-left: 3%;
	border-radius: 0% 50% 50% 0%;
	position: absolute;
	z-index: 5;
  }
  
  .left img {
	margin-left: -29%;
	margin-top: 15%;
  }
  
  .right {
    content: "";
    height: 30vw;
    width: 55%;
    background-color: #2a2f40;
	z-index: 3;
    margin-left: 27%;
    padding-left: 21%;
    text-align: left;
	margin-right: 4%;
}
  
.product-info {
    position: absolute;
    margin-left: 0px;
    /* height: 0px;
    width: 10%; */
	z-index: 10;
	margin-top: 1%;
	margin-left: -1%;
}
  
  .p-gear {
	font-family: "muli";
	font-size: 0.83vw;
	font-weight: bold;
	color: #DFC590;
	padding-right: 5px;
  }
  
  /* .btn-gear-gear{
	height: 35px;
	padding: 5px;
	margin-top: 10px;
	color: black;
	background-color: #00BFFF;
  } */

  .details{
	  width: 90%;
	  margin-left:-4%
  }
  
  hr {
	margin-top: 3%;
	border: 1px #009881 solid;
  }
  
  hr.style {
	  border: 0;
	  height: 0.2vw;
	  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #009881, rgba(0, 0, 0, 0));
	}

	.container {
		margin-top:100px;
	}


	.btn-gear {
		/* border: 5px solid #2c3e50; */
		color: #DFC590;
		display: block;
		font-family: 'multi';
		font-size: 2rem;
		letter-spacing: 0.1rem;
		padding: 1.5rem 0.8rem 0.5rem 0;
		position: fixed;
		text-decoration: none;
		text-transform: uppercase;
		width: 19vw;
		/* height: 5vw; */
		/* margin-left: 35%; */
		margin-top: 5%;
		/* z-index: 10; */
		font-size: 0.9vw;

	  }
	  


	  .btn-gear::before {
		content: "";
		background-color: #2c3e50;
		/* box-shadow: 10px 10px 0 #00BFFF, 
					20px 20px 0 #009881; */
		box-shadow: none;
		position: absolute;
		left: 0.15rem;
		top: 0.5rem;
		height: 102%;
		width: 86%;
		z-index: -1;
		transition: all 0.4s ease;
		margin-right: 5%;
		padding-right: 5%;
	  }
	  
	  .btn-gear:hover::before {
		/* box-shadow: none; */
		box-shadow: 0.7vw 0.7vw 0 #00BFFF, 
					1.4vw 1.4vw 0 #009881;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	  }

	/* .formContainer {
		display: flex;
	} */

	.form {
		display: flex;
		height: 70vh;
		width: 40%;
		/* justify-content: center; */
		/* align-content: center; */
		flex-direction: column;
		justify-content: space-between;
		margin-left: 25%;
		padding-top: 5%;
		padding-bottom: 2%;
		padding-left: 7%;
		margin-top:12%;
		margin-bottom: 10%;
		border: 4px solid #00BFFF;
		border-radius: 10px;
		background-color: rgba(30, 30, 30,0.99);

	}

	.techGearh1 {
		margin-top: -5%;
		padding-right:18%;
		font-size:1.2vw;
		color:#00BFFF;
	}

	::placeholder {
		color:rgba(255,255,255,0.7);
		font-size: 1.2vw;
		/* padding-left: 1%; */
	}

	.input {
		padding-top: 1.5%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:2px solid fuchsia;
		border-radius:5px;
	}

	/* .input1::placeholder {
		color: fuchsia;
	} */

	.input1 {
		padding-left:1%;
		padding-top: 1.5%;
		padding-bottom:0.7%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:3px solid #009881;
		border-radius:5px;
		color: white;
	}

	.input2 {
		padding-left:1%;
		padding-top: 1.5%;
		padding-bottom:0.7%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:3px solid fuchsia;
		border-radius:5px;
		color: white;
	}

	.input3 {
		padding-left:1%;
		padding-top: 1.5%;
		padding-bottom:0.7%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:3px solid #00BFFF;
		border-radius:5px;
		color: white;
	}

	.input4 {
		padding-left:1%;
		padding-top: 1.5%;
		padding-bottom:0.7%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:3px solid white;
		border-radius:5px;
		color: white;
	}
	/* #DFC590 */

	.input5 {
		padding-left:1%;
		padding-top: 1.5%;
		padding-bottom:0.7%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:3px solid #DFC590;
		border-radius:5px;
		color: white;
	}

	.input6 {
		
		padding-top: 1.5%;
		padding-bottom:0.7%;
		width: 80%;
		background-color:black;
		font-size: 1.2vw;
		border:3px solid #009881;
		border-radius:5px;
		color: white;
	}

	.submit {
		width: 30%;
		margin-left: 25%;
		background-color:black;
		color: fuchsia;
		padding: 1.4% 0px 1.4% 0px;
		border: 2px solid white;
		border-radius: 5px;
		font-size: 1.2vw;
	}

	.button {
		margin-top: 2%;
		width: 4%;
		position:absolute;
		z-index: 10;
		border: 2px solid fuchsia;
		border-radius: 5px;
		padding: 0.5% 1% 0.7% 1%;
		text-align: center;
		text-decoration: none;
		color: fuchsia;
		font-size: 1.2vw;
		background-color: black;
	}


	.gearDiv {
		margin-bottom: 5%;
	}