@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

.shrink:hover
{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
		transform: scale(0.9);
		transition: 120ms;
		opacity: 94%;
		border-style: solid;
		border-color: #0b9881;
}

body {
	background-color: #345;
	background-image: url("https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: black;
	border-radius: 8px;
	box-sizing: border-box;
	color: #009881;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	text-align: center;
	border-style: solid;
	border-color: #006c9d;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

.links {
	background-color: black;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
  padding: 0 1% 0 1%;
  --items: 6;
}

.links > a {
	color: #009881;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}

.tech {
	color:#FF00FF;
}

.games {
	color:#00BFFF;
}

.videos {
	color: white;
}

.cheatsheet {
	color: #DFC590;
}
.links > a:hover {
	background: #ffffff06;
	color: #009881;
}
/* #009881 */
.links > .line {
	/* background: white; */
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
  justify-content: space-around;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { 
	background: #009881;
}

.links > a:nth-of-type(2):hover ~ .line { 
	background: purple;
}

.links > a:nth-of-type(3):hover ~ .line { 
	background: #00BFFF;
}

.links > a:nth-of-type(4):hover ~ .line { 
	background: white;
}

.links > a:nth-of-type(5):hover ~ .line { 
	background: #DFC590;
}

.links > a:nth-of-type(6):hover ~ .line { 
	background: #009881;
}


.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

.title{
  color: #DFC590;
}

/* .icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	background: black;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
  }
  .add-btn:hover {
	width: 120px;
  }
  .add-btn::before,
  .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: #009881;
  }
  .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
	outline: none;
  }
  .btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
	color: #009881;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
	opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: #009881;
	overflow: hidden;
  }
  .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
  } */

  .infocardContainer * {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	background-color: black;
  }

  .infocardContainer {
	display: flex;
	height: 300px;
	width: 300px;
	border-radius: 100px;
	background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
	transition: all 500ms ease-in;
	transition-delay: 1s;
	margin: auto;
	margin-top: 100px;
	--margin-top: 100px;
  }
  .infocardContainer:hover {
	width: 700px;
	border-radius: 100px 10px 100px 100px;
	transition: all 0.5s ease-out;
  }
  
  .infocardContainer div {
	color: #009881;
	flex-shrink: 1;
	width: 100%;
	--background-color: green;
  }
  .infocardContainer div * {
	display: flex;
	--flex: inherit;
	overflow: hidden;
	text-overflow: hidden;
	--background-color: yellow;
	color: #009881;
	white-space: wrap;
	width: 0;
	height: auto;
	transition: all 450ms ease-in;
	transition-delay: 1s;
  }
  .infocardContainer:hover div *{
	--background-color: purple;
	display: flex;
	visibility: visible;
	transition: all 1s ease-out;
	transition-delay: 500ms;
	width: 100%;
	height: auto;
  }
  
  .infocardContainer #main, .infocardContainer #main img{
	--background-color: red;
	height: 300px;
	width: 300px;
	padding-right: 10px;
	border-radius: 100%;
	flex-shrink: 0;
	object-fit: cover;
  }
  .infocardContainer #main img{
	height: 280px;
	width: 280px;
	transition: none;
	display: float;
	position: relative;	
	margin: 0 0 0 0; padding: 0 0 0 0;
  }

  .infocardContainer #textbois #hotlinks {
	max-width: 60%;
	max-height: 30px;
	--background-color: black;
	position:absolute;
	bottom: 5px;
	display: flex;
	justify-content: space-between;
	border-radius: 13px;
	transition: none;
  }
  .infocardContainer #textbois #hotlinks * {
	color: #009881;
	max-width: 30px;
	--margin: 0 1px 0 1px;
	border-radius: 25px;
  }
